/* Add your custom fonts here */
@font-face {
  font-family: 'FuturaBT-Bold';
  src: url('../fonts/FuturaBT-Bold.eot');
  src: url('../fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBT-Bold.svg#FuturaBT-Bold') format('svg'),
  url('../fonts/FuturaBT-Bold.ttf') format('truetype'),
  url('../fonts/FuturaBT-Bold.woff') format('woff'),
  url('../fonts/FuturaBT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
